* {
  padding: 0;
  margin: 0;
}
.App {
  background: #282c34;
  height: 100vh;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;

  /* align-items: center; */
}

.dato {
  font-weight: bold;
  padding-bottom: 10px;
  color: rgb(175, 70, 56);
  text-decoration: underline;
}
.container {
  margin-left: 120px;
  width: 80%;
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
}
img {
  margin-top: 50px;
}
.text {
  margin-right: 200px;
}
h1 {
  padding: 50px 150px;
  background-color: lightcoral;
}
h2 {
  padding-top: 30px;
}
p {
  color: aliceblue;
  font-size: 50;
  padding-top: 30px;
}

@media only screen and (max-width: 600px) {
  .App {
    background: #282c34;
    height: max-content;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    /* align-items: center; */
  }
  .container {
    width: 90%;
    height: 100%;
    margin-left: 0px;
    align-items: center;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  img {
    width: 90%;
  }
  .text {
    margin-right: 10px;
  }
  h1 {
    padding: 30px 30px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
    padding-bottom: 80px;
  }
}
